@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Make the bottom player safe on iPhone */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .fixed-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
